/*
 * clearmap_utils.css
 * ~~~~~~~~~~~~~~~~~~~~~~
 *
 * ClearMap Style sheet
 *
 * :copyright: Copyright 2020 by Christoph Kirst 
 * :license: GNU, see LICENSE.txt for details.
 *
 */


/* Link list - list of links for header menu */

ul.link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33333388;
  margin-bottom: 2px;
  margin-top: 2px;
}

li.link-list {
  float: left;
  margin-bottom: 2px;
  margin-top: 2px;
}

li.link-list:hover {
  background-color: #111111;
}

li.link-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

li.link-list a:hover {
  background-color: #111111;
}


/* Image container - holding the image and the text */

.imagecontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

